/* 了解更多的 popup */
#popup{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 100;
  color: black;
  padding: 20px 30px;
  width: 1000px;
  height: 400px;
  background-color: white;
  box-shadow: 2px 4px 5px black;
}
#popup_bg{
  background-color: rgba(39, 44, 66, 0.70);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;

}
#popup_img{
  display: block;
  height: 350px;
  width: 340px;
  margin: auto;
}
#popup_name{
  background-color:rgb(58, 66, 102);
  display: block;
  color: white;
  left: 50%;
  transform: translate(-50%, 0);
  width: 25vw;
  height: 7vh;
  font-size: 3.5vh;
  line-height: 7vh;
  text-align: center;
  position: absolute;
  top: -7vh;
  box-sizing: border-box;
  /* padding: 5px 20px; */
}

#popup_txt{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#popup_txt>hr{
  border: 1px solid rgb(148, 144, 144);
  width: 60%;
  margin: 20px auto;
}
@media (max-width : 992px){
  #popup{
    height: 70vh; 
    min-height: 70vh;
  }
}
@media (max-width: 768px){
  #popup>.row{
    overflow-y: auto;
  }
  #popup_txt{
    margin-top: 15px;
    height: auto;
  }
}
@media (max-width: 576px){
  #popup{
    width: 90%;
  }
  #popup_name{
    width: 40vw;
  }
  #popup_img{
    width: 100%;
    height: 100%;
  }
}

#popup_btn{
  display: block;
  margin: 20px auto;
  border: 1px solid grey;
  width: 110px;
  height: 40px;
}
#popup_close{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gift-blue);
  color: white;
  text-align: center;
  line-height: 40px;
  z-index: 101;
  right: -10px;
  top: -15px;
}
#popup_close:hover{
  cursor: pointer;
  color: var(--gift-red);
  background-color: rgb(58, 66, 102);
}

