/* general */
html{
  scroll-padding-top: 10vh;
}
.debug{
  border: 1px solid blue;
  box-sizing: border-box;
}

.container{
  padding-top: 10vh;
  height: 90vh;
}
@media (max-width : 992px){
  .container{
    height: auto; 
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}

p{
  text-align: center;
  margin: 1% 0;
}

/* navbar */
nav.navbar{
  height: 10vh;
  background-color: grey;
  padding-left: 0;
  padding-right: 0;
}

#navbar_logo{
  padding-left: 2vw;
}

@media (max-width : 768px){
  #navbarNav{
    margin-top: 8px;
    background-color: lightgrey;
  }
}

/* 關於我們 */
#logo{
  display: block;
  margin: 30px auto;
}

.send_btn{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.1em;
}

/* 服務介紹 */
.flip-card-front, .flip-card-back{
  display: flex;
  align-items: center;
  width: 300px;
  height: 200px;
}

.case_img{
  background-image: url(./150x200.png);
  background-position: center;
  width: 50%;
  height: 100%;
}
.case_txt{
  width: 40%;
  margin: 0 auto;
}
.case_conclusion_txt{
  margin-bottom: 20px;
}


.service_list_item{
  width: 80%;
  margin: 0 auto;
}
.service_list_txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service_list_txt>hr{
  width: 100%;
  border: 1px solid lightgrey;
}
.service_list_img{
  background-image: url(./480x150.png); background-position: center; 
  height: 150px;
}

/* 用戶回饋 */
.feedback{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback_txt{
  margin: 0;
  height: auto;
  border: 1px solid red; 
  border-radius: 10px; 
  padding-left: 20px;
}
.feedback_img{
  width: 40px;
  height: auto;
  top: 50%;
  z-index: 10;
  margin-right: -20px;
  border-radius: 50%;
  transform-origin: center;
}
.progress-bar{
  background-color: rgb(252, 180, 36);
}
/* 聯絡我們 */
#contact_img{
  background-image: url(./180x300.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 180px;
  height: 300px;
  margin: 0 auto;
}

@media (max-width : 992px){
  #contact_img, #contact_txt, #contact_form{
    margin-top: 20px;
  }
}

