.debug{
  border: 1px solid blue;
  box-sizing: border-box;
}

/* test area */
.card_front, .card_back{
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  transition: all 0.3s;
}
.card_front{z-index: 1;}
.card_back{z-index: 0;}
.case_img{
  background-image: url(./150x200.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;
}
.case_txt{ 
  width: 60%;
  font-size: 8pt;
}
.card_front>.case_txt{ padding:0 25px 0 5px;}
.card_back>.case_txt{ padding:0 5px 0 25px;}

.case_icon{ position: absolute;}
.case_icon:hover{ cursor: pointer;}

.case_next{ right: 0;}
.case_prev{ left: 0;}

.fa-chevron-circle-right:before, .fa-chevron-circle-left:before{ color: rgb(109, 109, 109);}

