/* .debug{
  border: 1px solid blue;
  box-sizing: border-box;
} */

/* general */
@font-face{
  font-family: NotoSansCJKtc-Medium;
  src: url(../fonts/NotoSansCJKtc-hinted/NotoSansCJKtc-Medium.otf);
}
:root{
  /* colors */
  --gift-blue: #272C42;
  --gift-yellow: #FFCF77;
  --gift-red: #DF928E;
  --gift-skyblue: #9DDADB;
}

html{ scroll-padding-top: 10vh;}

body{
  font-family: NotoSansCJKtc-Medium;
  color: white;
  background-color: var(--gift-blue);
}

p{ margin: 1% 0;}

button{border: none;}
button:hover{box-shadow: 3px 2px 5px black;}

.container{
  padding-top: 10vh;
  height: 90vh;
}
@media (max-width : 992px){
  .container{
    height: auto; 
    min-height: 100vh;
  }
}
@media (min-width : 768px){
  .container{
    min-width: 768px;
  }
}
@media (max-width : 320px){
  .container{
    min-width: 320px;
    overflow-x: scroll;
  }
}

/* navbar */
nav.navbar{
  height: 12vh;
  background-color: var(--gift-blue);
  padding: 0;
}

.nav-item{
  height: 40px;
}

#navbar_logo, .nav-link{
  color: white;
}
#navbar_logo{
  height: 12vh;
  font-size: 1.4rem;
  line-height: 12vh;
  padding: 0 0 0 2vw;
  margin-left: 20px;
}

#navbarNav{margin-right: 50px;}

#main_btn{
  border-radius: 18px;
  margin: auto;
  margin-left: 10px;
  height: 70%;
  line-height: 1.3rem;
}
.btn_link, .btn_link:hover{
  color: black;
  text-decoration: none;
}
@media (max-width : 768px){
  nav.navbar, #navbar_logo{
    height: 10vh;
  }
  #navbar_logo{
    line-height: 10vh;
  }

  #navbarNav{
    margin-top: -1px;
    margin-right: 0;
    background-color: rgb(24, 27, 41);
  }

  #main_btn{
    border: none;
    background-color: transparent;
    padding-left: 0;
    margin-left: 0;
  }
  #main_btn>a{
    color: lemonchiffon;
  }
  .nav-item{padding-left: 10px;}
  .nav-item:hover{
    background-color: rgb(37, 40, 53);
  }
}

/* 關於我們 */
.send_btn{
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-size: 1.1em;
  margin-top: 20px;
}

/* 服務介紹 */
.flip-card-front, .flip-card-back{
  min-width: 240px;
  display: flex;
  align-items: center;
}

.logo>img{
  width: 150px;
}

.case_img{
  /* width: 40%; */
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.case_img>img{
  vertical-align: middle;
  margin: auto;
}

.case_txt{
  /* width: 50%; */
  margin: 0 auto;
}
#case_conclusion_txt{
  margin-bottom: 20px;
  font-size: 1.2em;
}


.service_list_item{
  width: 80%;
  margin: 0 auto;
}
.service_list_txt, .service_list_img{
  border: 1px solid black;
  box-sizing: border-box;
}

.service_list_txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: black;
}
.service_list_txt>hr{
  width: 70%;
  margin: 5px 0;
  border: 1px solid rgb(121, 119, 119);
}
.service_list_img{
  height: 150px;
  padding: 0;
  margin: 0;
}
/* test */
.service_list_img>img{
  width: 100%;
  height: 100%;
}

@media (max-width : 576px){
  .service_list_txt{
    padding: 30px 0;
  }
}


.learn_more{
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: transparent;
}
.learn_more:after{
  content: '';
  display: block;
  margin-top: 1px;
  border-top: 1px solid black;
}

.learn_more:hover{
  box-shadow: none;
  background-color: var(--gift-blue);
  color: white;
  transition: all ease .3s;
}



/* 用戶回饋 */
.feedback{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback_txt{
  margin: 0;
  height: auto;
  /* border: 1px solid red;  */
  background-color: white;
  color: black;
  border-radius: 10px; 
  padding: 10px 20px 10px 50px;
}
.feedback_img{
  width: 50px;
  height: auto;
  top: 50%;
  z-index: 10;
  margin-right: -25px;
  border-radius: 50%;
  border: 1px solid rgb(70, 69, 69);
  box-sizing: border-box;
  transform-origin: center;
}
.progress-bar{
  background-color: rgb(252, 180, 36);
}
/* 聯絡我們 */
#contact_us>.row{
  display: flexbox;
}

#contact_img{
  width: 180px;
  height: 300px;
  margin: 0 auto;
}
#contact_img>img{
  max-width: 100%;
  max-height: 100%;
}

@media (max-width : 992px){
  #contact_img, #contact_txt, #contact_form{
    margin-top: 10px;margin-bottom: 20px;
  }
  #contact_img{ order: 2;}
  #contact_txt{ order: 1;}
  #contact_form{ order: 3;}
}
@media (max-width : 768px){
  #contact_img{ order: 1;}
  #contact_txt{ order: 2;}
}

.icon{
  font-size: 25pt;
  line-height: 35pt;
  color: lightgray;
}
.icon:hover{
  color: var(--gift-yellow);
}

footer{
  text-align: center; 
  margin-top: 50px; 
  margin-bottom: 20px;
  color: grey;
}
